*{
  margin: 20px;
  text-align: center;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  color:rgb(173, 58, 129);
  
}

body{
  padding: 60px;
   background-color:rgb(245, 230, 240)
}
input{

  width: 50%;
  margin: 20px 200px 20px 200px;
  padding: 10px ;
  border: 1px solid rgb(248, 210, 239);
  
  font-size: 1.2rem;
  color:pink
}

p{
  font-size: 1rem;
  color:rgb(82, 6, 46);
  
}
.card-grid{
  display: flex;
  flex-direction:unset;
  flex-wrap:wrap;
  color: black;
}
.card{
align-content: center;
text-align: center;
border: 10px solid rgb(250, 178, 218);
border-radius: none;
margin-bottom: 30px;
margin-right: 30px;
overflow:auto;
}
.card img{
max-height:fit-content;

}