*{
  font-family: Arial, Helvetica, sans-serif;
  color:rgb(36, 0, 20);
  
}

body{
  padding: 60px;
   background-color:rgb(245, 230, 240)
}
input{
  width: 100%;
  font-size: 1.2rem;
  color:pink
}
p{
  font-size: 1.2rem;
  color:deeppink;
  
}
.card-grid{
  display: flex;
  flex-direction:unset;
  flex-wrap:wrap;
}
.card{
align-content: center;
border: 1px solid dimgray;
border-radius: 6px;
margin-bottom: 10px;
margin-right: 10px;
overflow: hidden;
}
.card img{
max-height: 250px;

}